<%= content_for :title, 'Edit Bill' %>

<div class="row">
<div class="col-md-8  col-md-offset-2">
<div class="block">
  <div class="block-title">
    <h2>Edit Bill</h2>
  </div>
  <%= render 'form' %>
</div>
</div>
