<%= content_for :title, 'Bills' %>

<!-- Partial Responsive Block -->
<div class="block">
  <!-- Partial Responsive Title -->
  <div class="block-title">
    <div class="block-options pull-right">
      <% if admin_signed_in? %>
        <%= link_to 'Add New', new_bill_path, class: "btn btn-primary" %>
      <% end %>
    </div>
    <h2>Bills</h2>
  </div>
  <!-- END Partial Responsive Title -->

  <!-- Partial Responsive Content -->
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-vcenter">
      <thead>
        <tr>
          <% if admin_signed_in? %>
            <th>Company Name</th>
          <% end %>
          <th>Title</th>
          <th>Amount</th>
          <th>Description</th>
          <% if policy(Bill).edit? %>
            <th>Action</th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <%= render @bills %>
      </tbody>
    </table>
  </div>
  <!-- END Partial Responsive Content -->
</div>
<!-- END Partial Responsive Block -->
