<%= content_for :title, 'Add New Order' %>

<div class="row">
<div class="col-md-8  col-md-offset-2">
<div class="block">
  <div class="block-title">
    <h2>Add New Order</h2>
  </div>
  <%= render 'form' %>
</div>
</div>
