<%= content_for :title, 'Companies' %>

  <!-- Partial Responsive Block -->
  <div class="block">
    <!-- Partial Responsive Title -->
    <div class="block-title">
      <div class="block-options pull-right">
        <% if policy(Company).create? %>
          <%= link_to 'Add New', new_company_path, class: "btn btn-primary" %>
        <% end %>
      </div>
      <h2>Companies</h2>
    </div>
    <!-- END Partial Responsive Title -->

    <!-- Partial Responsive Content -->
    <div class="table-responsive">
    <table class="table table-striped table-bordered table-vcenter">
      <thead>
        <tr>
          <th>Company Name</th>
          <th>Email Host</th>
          <th>Commission Rate</th>
          <th>Inventory Contact Email</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <%= render @companies %>
      </tbody>
    </table>
    </div>
    <!-- END Partial Responsive Content -->
  </div>
  <!-- END Partial Responsive Block -->
