<%= content_for :title, 'Products' %>

<div class="col-md-12">
  <!-- Partial Responsive Block -->
  <div class="block">
    <!-- Partial Responsive Title -->
    <div class="block-title">
      <div class="block-options pull-right">
        <%= link_to 'Add New', new_product_path, class: "btn btn-primary" %>
      </div>
      <h2>Products</h2>
    </div>
    <!-- END Partial Responsive Title -->

    <!-- Partial Responsive Content -->
    <div class="table-responsive">
    <table class="table table-striped table-bordered table-vcenter">
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Description</th>
          <th>Ads Budget</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <%= render @products %>
      </tbody>
    </table>
    </div>
    <!-- END Partial Responsive Content -->
  </div>
  <!-- END Partial Responsive Block -->
</div>
